@import "global";
@import "source";
@import "message";

$tw_header_color: white;/* wit */
$tw_text_color: #333;/* donkergrijs*/
$tw_text_status_color: #999;/*light gray*/
$tw_ruler_color: #0099CC;/*blauw*/
$tw_name_color: #333;/*gray*/
$tw_tag_color: #0084B4;/*twitter blue*/
$tw_mention_color: #0084B4;/*twitter blue*/
$tw_link_color: #0084B4;/*twitter blue*/      
$tw_action_color: #000000;/*wit*/
$tw_background_color: white;/*donker blauw*/
$tw_icon_path:inline-image("../icons/twitbird.png",png);

div.source_twitter
{
	@include source-base($tw_header_color,$tw_text_color,$tw_text_status_color,$tw_ruler_color,$tw_name_color,$tw_tag_color,$tw_icon_path,$tw_action_color,$tw_background_color);

	border: 1px solid $tw_text_status_color;
	
	div.source_message_count
	{
		top: $margin_default * .8;
	}

	div.source_header
	{
		display: none;
	}

	div.source_arrow
	{
		position: absolute;
		top: 2.7em;
		left: -1.4em;
		width: 0;
		height: 0;

		border-top: 1em solid transparent;
		border-bottom: 1em solid transparent;
		border-right: 1.4em solid $tw_text_status_color;
	}
}

div.messages_twitter
{
	@include message-base($tw_header_color,$tw_text_color,$tw_text_status_color,$tw_ruler_color,$tw_name_color,$tw_tag_color,$tw_icon_path,$tw_action_color,$tw_ruler_color);
	
	background-color: $tw_background_color;

	div.message
	{
		div.message_add_comment
		{
			display: none;
		}
	}
	hr
	{
		color: $tw_text_status_color;
	}
}


